* {
    font-family: 'Roboto', sans-serif;
}



.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px -20px;
}

.item {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px 20px;
}


.content {
    color: black;
    background-color: transparent;
    font-weight: 800;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    font-size: 8em;
}



body,
html {
    height: 100%;
    margin: 0;
}

section {
    background-image: url("w.jpg");
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}